.menu{
    width: 100%;
    height: 55px;
    margin: 0 auto;
}
.menu a{
    display: inline-block;
    text-decoration: none;
    width: 320px;
    height: 55px;
    border: 1px solid black;
    text-align: center;
    line-height: 55px;
    font-size: 34px;
    margin: 10px 3px;
    color: black;
}
.row{
    margin: 0 auto;
}
.active{
    background-color: #396;
}
.myphoto{
    width: 320px;
    height: 400px;
    background-color: #ccc;
    margin: 25px 3px;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    line-height: 130px;
    font-size: 48px;
}
.container{
    display: flex;
}

.othertext{
    width: 646px;
    height: 400px;
    background-color: #ccc;
    margin: 25px 3px;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    font-size: 34px;
}
.welcome{
    width: 974px;
    height: 400px;
    background-color: #ccc;
    margin: 25px 3px;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    font-size: 34px;
}